# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

name: Test

# This workflow is triggered on pull requests to the main branch.
on:
  pull_request:
    branches: [main]
    types: [milestoned, opened, synchronize]
    paths-ignore:
      - "**.md"
      - "**.jpg"
      - "**.png"
      - "**.gif"
      - "**.svg"
      - "adr/**"
      - "docs/**"
      - ".gitignore"
      - "renovate.json"
      - ".release-please-config.json"
      - "release-please-config.json"
      - "oscal-component.yaml"
      - "CODEOWNERS"
      - "LICENSE"
      - "CONTRIBUTING.md"
      - "SECURITY.md"

# Abort prior jobs in the same workflow / PR
concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  id-token: write
  packages: read

jobs:
  check-flavor:
    runs-on: uds-marketplace-ubuntu-big-boy-8-core
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: test-flavor
        uses: defenseunicorns/uds-common/.github/actions/test-flavor@017d70c730978a62699237882d9760f089a77739 # v1.16.3
        id: test-flavor
    outputs:
      upgrade-flavors: ${{ steps.test-flavor.outputs.upgrade-flavors }}

  validate:
    needs: check-flavor
    strategy:
      fail-fast: false
      matrix:
        type: [install, upgrade]
        flavor: [upstream, registry1]
    uses: defenseunicorns/uds-common/.github/workflows/callable-test.yaml@017d70c730978a62699237882d9760f089a77739 # v1.16.3
    with:
      runsOn: uds-marketplace-ubuntu-big-boy-8-core
      upgrade-flavors: ${{ needs.check-flavor.outputs.upgrade-flavors }}
      flavor: ${{ matrix.flavor }}
      type: ${{ matrix.type }}
      reports-path: "tests/.playwright/reports/"
    secrets: inherit # Inherits all secrets from the parent workflow.
